@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlogList>
@{
    Layout = "_Layout";
    var language = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}
@await Html.PartialAsync("~/Views/Partials/_Header.cshtml",Model)
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div id="partial-content">
                </div>
            </div>
        </div>
    </div>
</article>

@section Scripts {
    <script>
        window.currentLanguage = "@language";
        $(document).ready(function() {
            BlogList.init();
        });
    </script>
}




