@using PocApp.Domain.Models.ViewComponentModels
@using PocApp.Domain.models.PaginatedList
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
	Layout = "_Layout";
	// int.TryParse(ViewBag["page"], out int page);
	var prevDisbled = 1 < 2 ? "d-none":"";
}
}
<div id="BlogList">

</div>

<div class="d-flex justify-content-between mb-4">
	<a class="btn btn-primary text-uppercase @prevDisbled" href="/blogs?page=@(1 -1)"> ← Back</a>
	<a class="btn btn-primary text-uppercase " href="/blogs?page=@(1 +1)"> Next → </a>
</div>

@* @section scripts *@
@* { *@
@*     <script> *@
           
@*     </script> *@
@* } *@


