<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5315c55d-da6a-4b24-88f7-09be9536c549" Alias="blogItem" Level="3">
  <Info>
    <Name>Blog Item</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Blogs</Folder>
    <Compositions>
      <Composition Key="d9e91a36-e485-4551-a320-5e381d8c865f">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>BlogItem</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="44d55516-3d2d-4548-9c20-20d9a52eecf1">BlogItem</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="cf5f37a9-87ad-4448-9f4e-ed54928dd0b4" SortOrder="0">categories</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3dea1e28-0437-4ad4-a4c6-486ff910e52d</Key>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>53bc3364-6a88-4696-9438-59f1961ef89b</Key>
      <Name>Categories</Name>
      <Alias>categories</Alias>
      <Definition>9bee9459-a99c-4c39-9798-aeec25a23a60</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0b41e756-0df3-452f-9fe4-12e2024622aa</Key>
      <Name>creation Date</Name>
      <Alias>creationDate</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>09ea3970-385a-4cbb-ab4b-2d3d670f3ca9</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>