<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a10220df-1797-41f7-94ee-b40edc86332f" Alias="blogList" Level="3">
  <Info>
    <Name>Blog List</Name>
    <Icon>icon-thumbnail-list color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Blogs</Folder>
    <Compositions>
      <Composition Key="d9e91a36-e485-4551-a320-5e381d8c865f">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>BlogList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3c864575-7327-49e3-b672-fee1f4dae816">BlogList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5315c55d-da6a-4b24-88f7-09be9536c549" SortOrder="0">blogItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>