<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cf5f37a9-87ad-4448-9f4e-ed54928dd0b4" Alias="categories" Level="2">
  <Info>
    <Name>Categories Container</Name>
    <Icon>icon-categories color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Documents</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="379ab1b9-b66e-4fb3-ac88-7953f763bfac" SortOrder="0">categoryItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>