 @inherits UmbracoViewPage
 @{
     var title = Model.Value<string>("title");
     var description = Model.Value<string>("description");
 }
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
 <meta name="description" content="@description" />
 <meta name="author" content="Mina Radi" />
 <title>@title</title>
