@inherits UmbracoViewPage
@{
    var homePage = Umbraco.AssignedContentItem.AncestorOrSelf<Home>();
    var currentPageUrl = Model.Url();
}
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="@homePage?.Url()">@Umbraco.GetDictionaryValue("Home")</a>
        <a class="nav-link  " href="@homePage?.Url()blogs">@Umbraco.GetDictionaryValue("Blogs")</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">@Umbraco.GetDictionaryValue("Language")</a>
                    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                
                        <li><a class="dropdown-item" href="@currentPageUrl?.Replace("/en", "/ar")">Arabic</a></li>
                        <li><a class="dropdown-item" href="@currentPageUrl?.Replace("/ar", "/en")">English</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>