<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a2d90a7-4771-435b-aee9-d8c24e4a4a08" Alias="a" Level="3">
  <Info>
    <Parent Key="e69fc0e0-d0c9-494b-8d7b-3c359e609895">Categories Container</Parent>
    <Path>/Home/CategoriesContainer/a</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryItem</ContentType>
    <CreateDate>2025-06-03T11:17:57</CreateDate>
    <NodeName Default="a">
      <Name Culture="ar">a</Name>
      <Name Culture="en-us">a</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryName>
      <Value Culture="ar"><![CDATA[a]]></Value>
      <Value Culture="en-us"><![CDATA[a]]></Value>
    </categoryName>
  </Properties>
</Content>