<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c3f3bbd-d514-4380-8d17-5042d1aa1880" Alias="as" Level="3">
  <Info>
    <Parent Key="c3284a36-2187-48f7-93ed-6b235668aaa5">Blogs</Parent>
    <Path>/Home/Blogs/as</Path>
    <Trashed>false</Trashed>
    <ContentType>blogItem</ContentType>
    <CreateDate>2025-06-03T15:31:27</CreateDate>
    <NodeName Default="as">
      <Name Culture="ar">as</Name>
      <Name Culture="en-us">as</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="44d55516-3d2d-4548-9c20-20d9a52eecf1">BlogItem</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </bodyText>
    <categories>
      <Value Culture="ar"><![CDATA[umb://document/6df2080cbf034f3d9bd2dddd60fc4423]]></Value>
      <Value Culture="en-us"><![CDATA[umb://document/6df2080cbf034f3d9bd2dddd60fc4423]]></Value>
    </categories>
    <creationDate>
      <Value><![CDATA[]]></Value>
    </creationDate>
    <headerImage>
      <Value><![CDATA[]]></Value>
    </headerImage>
    <subtitle>
      <Value Culture="ar"><![CDATA[aaaaa]]></Value>
      <Value Culture="en-us"><![CDATA[aaaa]]></Value>
    </subtitle>
    <title>
      <Value Culture="ar"><![CDATA[aaaa]]></Value>
      <Value Culture="en-us"><![CDATA[as]]></Value>
    </title>
  </Properties>
</Content>