<?xml version="1.0" encoding="utf-8"?>
<Content Key="e38110ae-ea25-4517-96b3-29642679c0fe" Alias="Blog8" Level="3">
  <Info>
    <Parent Key="c3284a36-2187-48f7-93ed-6b235668aaa5">Blogs</Parent>
    <Path>/Home/Blogs/Blog8</Path>
    <Trashed>false</Trashed>
    <ContentType>blogItem</ContentType>
    <CreateDate>2025-06-02T21:13:44</CreateDate>
    <NodeName Default="Blog8">
      <Name Culture="ar">Blog8</Name>
      <Name Culture="en-us">Blog8</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="44d55516-3d2d-4548-9c20-20d9a52eecf1">BlogItem</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="ar"><![CDATA[{
  "markup": "<p>wer</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>rewrwer</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bodyText>
    <categories>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </categories>
    <creationDate>
      <Value><![CDATA[2025-06-25T12:00:00]]></Value>
    </creationDate>
    <headerImage>
      <Value><![CDATA[{
  "src": "/media/ejslypa2/screenshot-2025-05-22-203820.png"
}]]></Value>
    </headerImage>
    <subtitle>
      <Value Culture="ar"><![CDATA[Blog8]]></Value>
      <Value Culture="en-us"><![CDATA[Blog8]]></Value>
    </subtitle>
    <title>
      <Value Culture="ar"><![CDATA[Blog8]]></Value>
      <Value Culture="en-us"><![CDATA[Blog8]]></Value>
    </title>
  </Properties>
</Content>