<?xml version="1.0" encoding="utf-8"?>
<Content Key="c3284a36-2187-48f7-93ed-6b235668aaa5" Alias="Blogs" Level="2">
  <Info>
    <Parent Key="416e51a0-7301-42e1-a8b9-6b923b24ef19">Home</Parent>
    <Path>/Home/Blogs</Path>
    <Trashed>false</Trashed>
    <ContentType>blogList</ContentType>
    <CreateDate>2025-01-17T00:20:41</CreateDate>
    <NodeName Default="Blogs">
      <Name Culture="ar">Blogs</Name>
      <Name Culture="en-us">Blogs</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3c864575-7327-49e3-b672-fee1f4dae816">BlogList</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value><![CDATA[{
  "src": "/media/xi5bkhf4/unseen-studio-s9cc2skysjm-unsplash.jpg",
  "crops": [
    {
      "alias": "banner",
      "coordinates": {
        "x1": 0.1058295388685948,
        "y1": 0.005641525114218952,
        "x2": 0.00825368015289573,
        "y2": 0.24686619093516377
      }
    }
  ]
}]]></Value>
    </headerImage>
    <subtitle>
      <Value Culture="ar"><![CDATA[استكشف النصائح والاتجاهات والإلهام لحياة أفضل]]></Value>
      <Value Culture="en-us"><![CDATA[Explore Tips, Trends, and Inspiration for a Better Life]]></Value>
    </subtitle>
    <title>
      <Value Culture="ar"><![CDATA[مرحبًا بك في ملاذ أسلوب الحياة الخاص بك]]></Value>
      <Value Culture="en-us"><![CDATA[ Welcome to Your Lifestyle Haven]]></Value>
    </title>
  </Properties>
</Content>