<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7e96c8a-a727-40ee-9480-462a689f8478" Alias="c" Level="3">
  <Info>
    <Parent Key="c3284a36-2187-48f7-93ed-6b235668aaa5">Blogs</Parent>
    <Path>/Home/Blogs/c</Path>
    <Trashed>false</Trashed>
    <ContentType>blogItem</ContentType>
    <CreateDate>2025-06-03T11:29:08</CreateDate>
    <NodeName Default="c">
      <Name Culture="ar">c</Name>
      <Name Culture="en-us">c</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="44d55516-3d2d-4548-9c20-20d9a52eecf1">BlogItem</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="ar"><![CDATA[{
  "markup": "<p>c</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>c</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bodyText>
    <categories>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </categories>
    <creationDate>
      <Value><![CDATA[2025-06-23T12:00:00]]></Value>
    </creationDate>
    <headerImage>
      <Value><![CDATA[{
  "src": "/media/aymni4a4/dev_3040.jpg"
}]]></Value>
    </headerImage>
    <subtitle>
      <Value Culture="ar"><![CDATA[c]]></Value>
      <Value Culture="en-us"><![CDATA[c]]></Value>
    </subtitle>
    <title>
      <Value Culture="ar"><![CDATA[c]]></Value>
      <Value Culture="en-us"><![CDATA[c]]></Value>
    </title>
  </Properties>
</Content>