<?xml version="1.0" encoding="utf-8"?>
<Content Key="e69fc0e0-d0c9-494b-8d7b-3c359e609895" Alias="Categories Container" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CategoriesContainer</Path>
    <Trashed>false</Trashed>
    <ContentType>categories</ContentType>
    <CreateDate>2025-01-16T00:40:06</CreateDate>
    <NodeName Default="Categories Container">
      <Name Culture="ar">Categories Container</Name>
      <Name Culture="en-us">Categories Container</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>