<?xml version="1.0" encoding="utf-8"?>
<Content Key="8277cdb8-faf1-4d6f-a187-8bce207d9db4" Alias="dsadas (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/dsadas1</Path>
    <Trashed Parent="e69fc0e0-d0c9-494b-8d7b-3c359e609895">true</Trashed>
    <ContentType>categoryItem</ContentType>
    <CreateDate>2025-06-02T21:06:22</CreateDate>
    <NodeName Default="dsadas (1)">
      <Name Culture="en-us">dsadas (1)</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryName>
      <Value Culture="en-us"><![CDATA[dsda]]></Value>
    </categoryName>
  </Properties>
</Content>