<?xml version="1.0" encoding="utf-8"?>
<Content Key="fdfc48b4-afa8-43c9-8d1d-a9ff4087899f" Alias="dsadas" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/dsadas</Path>
    <Trashed Parent="c3284a36-2187-48f7-93ed-6b235668aaa5">true</Trashed>
    <ContentType>blogItem</ContentType>
    <CreateDate>2025-06-02T17:36:49</CreateDate>
    <NodeName Default="dsadas">
      <Name Culture="ar">dsad</Name>
      <Name Culture="en-us">dsadas</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="44d55516-3d2d-4548-9c20-20d9a52eecf1">BlogItem</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="ar"><![CDATA[{
  "markup": "<p>ssda</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>dadas</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bodyText>
    <categories>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </categories>
    <creationDate>
      <Value><![CDATA[2025-06-10T12:00:00]]></Value>
    </creationDate>
    <headerImage>
      <Value><![CDATA[{
  "src": "/media/ha4nciur/dev_3042.jpg"
}]]></Value>
    </headerImage>
    <subtitle>
      <Value Culture="ar"><![CDATA[sadd]]></Value>
      <Value Culture="en-us"><![CDATA[dasd]]></Value>
    </subtitle>
    <title>
      <Value Culture="ar"><![CDATA[sdad]]></Value>
      <Value Culture="en-us"><![CDATA[dsad]]></Value>
    </title>
  </Properties>
</Content>