<?xml version="1.0" encoding="utf-8"?>
<Content Key="1d826098-49fb-4d03-a93c-ec083a92cac6" Alias="General Audience" Level="2">
  <Info>
    <Parent Key="bdde6a23-2e72-41dc-9941-e921e6be4a6f">Personalisation Groups</Parent>
    <Path>/PersonalisationGroups/GeneralAudience</Path>
    <Trashed>false</Trashed>
    <ContentType>personalisationGroup</ContentType>
    <CreateDate>2025-06-29T15:31:50</CreateDate>
    <NodeName Default="General Audience" />
    <SortOrder>3</SortOrder>
	  <SortOrder>99</SortOrder>
	  <Published Default="true" />
	  <Schedule />
	  <Template />
  </Info>
  <Properties>
	  <definition>
		  <Value>
			  <![CDATA[{
  "match": "Any",
  "duration": "Session",
  "score": 5,
  "details": [
    {
      "alias": "numberOfVisits",
      "definition": "{ \"match\": \"MoreThan\", \"number\": 0}"
    }
  ]
}]]>
		  </Value>
    </definition>
  </Properties>
</Content>