<?xml version="1.0" encoding="utf-8"?>
<Content Key="416e51a0-7301-42e1-a8b9-6b923b24ef19" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-01-15T01:04:13</CreateDate>
    <NodeName Default="Home">
      <Name Culture="ar">Home</Name>
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="b1e74453-a5ff-45f7-93a5-1f6e8fb0efca">Home</Template>
  </Info>
  <Properties>
    <footerSocialLink>
      <Value><![CDATA[[
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/"
  },
  {
    "network": "facebook",
    "name": "Facebook",
    "url": "https://facebook.com/mina.emad.737448"
  },
  {
    "network": "linkedin",
    "name": "LinkedIn",
    "url": "https://linkedin.com/in/"
  }
]]]></Value>
    </footerSocialLink>
    <headerImage>
      <Value><![CDATA[{
  "src": "/media/fqsehhry/unseen-studio-s9cc2skysjm-unsplash.jpg",
  "crops": [
    {
      "alias": "banner",
      "coordinates": {
        "x1": 0,
        "y1": 0.0018320932768227912,
        "x2": 0,
        "y2": 0.15441790672317718
      }
    }
  ]
}]]></Value>
    </headerImage>
    <mainNavigation>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/d256b98ea5534be3a8b8aa1e62962a78",
        "areas": [
          {
            "key": "ccf15fd7-b036-4bba-b0e9-7f143f18c385",
            "items": [
              {
                "contentUdi": "umb://element/f8038ec0fae44180be22b57392b8725e",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/00001fd6b33346988c3821fb2f543ea5",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/43aac2ce25c542b49bdfb31707945bdf",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3611b851-d0c6-4700-9c3e-d9360674b8bb",
      "udi": "umb://element/d256b98ea5534be3a8b8aa1e62962a78"
    },
    {
      "childLinks": [
        {
          "udi": "umb://document/8012d311d92f4f38a5909e20a3a6174f"
        },
        {
          "udi": "umb://document/beb53fd2faed4a74b79a9a4cb9a9b7c5"
        }
      ],
      "contentTypeKey": "db2561ae-501c-4073-95ab-7e669dbf321b",
      "link": [
        {
          "udi": "umb://document/416e51a0730142e1a8b96b923b24ef19"
        }
      ],
      "title": "Home",
      "udi": "umb://element/43aac2ce25c542b49bdfb31707945bdf"
    },
    {
      "childLinks": "",
      "contentTypeKey": "db2561ae-501c-4073-95ab-7e669dbf321b",
      "link": [
        {
          "name": "Blogs",
          "udi": "umb://document/c3284a36218748f793ed6b235668aaa5"
        }
      ],
      "title": "Blogs",
      "udi": "umb://element/00001fd6b33346988c3821fb2f543ea5"
    },
    {
      "childLinks": "",
      "contentTypeKey": "db2561ae-501c-4073-95ab-7e669dbf321b",
      "link": "",
      "title": "Language",
      "udi": "umb://element/f8038ec0fae44180be22b57392b8725e"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainNavigation>
    <subtitle>
      <Value Culture="ar"><![CDATA[مكان للقراءة والكتابة وتعميق فهمك]]></Value>
      <Value Culture="en-us"><![CDATA[A place to read, write, and deepen your understanding]]></Value>
    </subtitle>
    <title>
      <Value Culture="ar"><![CDATA[مرحبًا بكم ]]></Value>
      <Value Culture="en-us"><![CDATA[Blogs Site]]></Value>
    </title>
  </Properties>
</Content>