<?xml version="1.0" encoding="utf-8"?>
<Content Key="ba2690e5-7f6b-4869-bcf5-5cb0c33e9623" Alias="Investors interested in Tech" Level="2">
  <Info>
    <Parent Key="bdde6a23-2e72-41dc-9941-e921e6be4a6f">Personalisation Groups</Parent>
    <Path>/PersonalisationGroups/InvestorsInterestedInTech</Path>
    <Trashed>false</Trashed>
    <ContentType>personalisationGroup</ContentType>
    <CreateDate>2025-06-24T10:11:30</CreateDate>
    <NodeName Default="Investors interested in Tech" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <definition>
      <Value><![CDATA[{
  "match": "All",
  "duration": "Visitor",
  "score": 20,
  "details": [
    {
      "alias": "pagesViewed",
      "definition": "{ \"match\": \"ViewedAny\", \"nodeIds\": [1097,1099] }"
    }
  ]
}]]></Value>
    </definition>
  </Properties>
</Content>