<?xml version="1.0" encoding="utf-8"?>
<Content Key="10a8d649-a11a-4d4c-bfba-a934a8b2b9c6" Alias="Investors interested in Energy" Level="2">
  <Info>
    <Parent Key="bdde6a23-2e72-41dc-9941-e921e6be4a6f">Personalisation Groups</Parent>
    <Path>/PersonalisationGroups/InvestorsInterestedInEnergy</Path>
    <Trashed>false</Trashed>
    <ContentType>personalisationGroup</ContentType>
    <CreateDate>2025-06-24T15:00:07</CreateDate>
    <NodeName Default="Investors interested in Energy" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <definition>
      <Value><![CDATA[{
  "match": "Any",
  "duration": "Visitor",
  "score": 10,
  "details": [
    {
      "alias": "pagesViewed",
      "definition": "{ \"match\": \"ViewedAny\", \"nodeIds\": [1102] }"
    },
    {
      "alias": "numberOfVisits",
      "definition": "{ \"match\": \"MoreThan\", \"number\": 1}"
    }
  ]
}]]></Value>
    </definition>
  </Properties>
</Content>