<?xml version="1.0" encoding="utf-8"?>
<Content Key="2436b762-e309-4c64-a367-6fc9f77a317a" Alias="Lifestyle Blogs" Level="3">
  <Info>
    <Parent Key="e69fc0e0-d0c9-494b-8d7b-3c359e609895">Categories Container</Parent>
    <Path>/Home/CategoriesContainer/LifestyleBlogs</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryItem</ContentType>
    <CreateDate>2025-01-16T00:42:31</CreateDate>
    <NodeName Default="Lifestyle Blogs">
      <Name Culture="ar">مدونات نمط الحياة</Name>
      <Name Culture="en-us">Lifestyle Blogs</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryName>
      <Value Culture="ar"><![CDATA[مدونات نمط الحياة]]></Value>
      <Value Culture="en-us"><![CDATA[Lifestyle Blogs]]></Value>
    </categoryName>
  </Properties>
</Content>