<?xml version="1.0" encoding="utf-8"?>
<Content Key="51662d5a-28f3-4241-8ccd-8030a677253a" Alias="sadas" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/sadas</Path>
    <Trashed Parent="c3284a36-2187-48f7-93ed-6b235668aaa5">true</Trashed>
    <ContentType>blogItem</ContentType>
    <CreateDate>2025-06-02T21:05:25</CreateDate>
    <NodeName Default="sadas">
      <Name Culture="en-us">sadas</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="44d55516-3d2d-4548-9c20-20d9a52eecf1">BlogItem</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>sadsad</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bodyText>
    <categories>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </categories>
    <creationDate>
      <Value><![CDATA[2025-06-06T12:00:00]]></Value>
    </creationDate>
    <headerImage>
      <Value><![CDATA[{
  "src": "/media/0zmexdwk/directory-icon.png"
}]]></Value>
    </headerImage>
    <subtitle>
      <Value Culture="en-us"><![CDATA[dsad]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[saddas]]></Value>
    </title>
  </Properties>
</Content>