<?xml version="1.0" encoding="utf-8"?>
<Media Key="e88a8307-d221-4501-b056-97f954a3b055" Alias="1736169547103S" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/S</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-15T15:05:47</CreateDate>
    <NodeName Default="1736169547103S" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/agbjv0bb/1736169547103s.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>