<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e7a8582-a89b-4901-ac87-69789a344cf4" Alias="4 Sdjkds98akh76i8ed0 Qjw" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sdjkds98akh76i8ed0Qjw</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-15T15:11:35</CreateDate>
    <NodeName Default="4 Sdjkds98akh76i8ed0 Qjw" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qschupu1/4_sdjkds98akh76i8ed0_qjw.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>