<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc29a1f2-d916-4ca9-a4d0-5607fe754523" Alias="Tom Barrett M0awnxnlamw Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TomBarrettM0awnxnlamwUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-17T13:48:18</CreateDate>
    <NodeName Default="Tom Barrett M0awnxnlamw Unsplash" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4sqdtpaw/tom-barrett-m0awnxnlamw-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>