<?xml version="1.0" encoding="utf-8"?>
<Media Key="70ffef3b-1e5e-4030-b813-5527ef58d523" Alias="Unseen Studio S9cc2skysjm Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UnseenStudioS9cc2skysjmUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-15T15:20:06</CreateDate>
    <NodeName Default="Unseen Studio S9cc2skysjm Unsplash" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hxxp42c4/unseen-studio-s9cc2skysjm-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>