<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="80a7d866-5eb3-402c-929f-61b0abba3140" Alias="Copyright" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar"> © جميع الحقوق محفوظة لموقع اومبراكو ٢٠٢٥ </Translation>
    <Translation Language="en-US">Copyright  © 2025 Umbraco.com. All rights reserved.</Translation>
  </Translations>
</Dictionary>