<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0e6252c7-f305-4747-bbcb-0f69b92fb4bc" Alias="Posted on" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar">تم النشر بتاريخ
</Translation>
    <Translation Language="en-US">Posted on</Translation>
  </Translations>
</Dictionary>