<?xml version="1.0" encoding="utf-8"?>
<DataType Key="409724f8-a3a9-4e47-98ae-5e105d8efc36" Alias="[MultiURLPicker] Child links" Level="2">
  <Info>
    <Name>[MultiURLPicker] Child links</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Folder</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>