<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9bee9459-a99c-4c39-9798-aeec25a23a60" Alias="[MultinodeTreepicker] Categories" Level="1">
  <Info>
    <Name>[MultinodeTreepicker] Categories</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$root//categoryItem",
    "type": "content"
  }
}]]></Config>
</DataType>