<?xml version="1.0" encoding="utf-8"?>
<DataType Key="56f6775d-e85f-4863-819d-fbf890bc6666" Alias="Personalisation Group Definition" Level="1">
  <Info>
    <Name>Personalisation Group Definition</Name>
    <EditorAlias>personalisationGroupDefinition</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>